<button class="top-right-home" (click)="goToHome()">
  <img src="../../../assets/home.svg" alt="" />
</button>

<div *ngIf="disease">
  <h1>
    {{ disease.disease }}
    <button (click)="saveToProfile()" *ngIf="!saved && user">
      <img src="../../../assets/save.svg" alt="" />
    </button>
    <button (click)="removeFromProfile()" *ngIf="saved && user">
      <img src="../../../assets/remove.svg" alt="" />
    </button>
    <button class="lookup" (click)="lookDiseaseUp()">
      <img src="../../../assets/search.svg" alt="" />
    </button>
  </h1>
  <h2>{{ disease.subtitle }}</h2>
  <div class="detail">
    <div class="desc">
      <p>{{ disease.primary_description }}</p>
      <p>{{ disease.secondary_description }}</p>
      <h3 class="rarity" *ngIf="disease.rarity">
        Rarity: {{ disease.rarity }}
      </h3>
    </div>
    <div class="symptoms">
      <h3>{{ disease.symptom_possibility }}</h3>
      <ul>
        <li *ngFor="let symptom of disease.raw_symptoms">{{ symptom }}</li>
      </ul>
    </div>
  </div>
</div>

<style>
  .top-right-home {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
    margin: 0;
  }
  .detail {
    display: flex;
  }
  .desc {
    width: 45%;
    font-size: 1.3em;
    margin-right: 0;
    padding-right: 20px;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
  }
  .symptoms {
    margin-left: 0;
    padding: 20px;
    border-left: 2px solid white;
    width: 45%;
    font-size: 1.3em;
  }
  .rarity {
    margin-top: 20px;
  }
  .top-right-home:hover img {
    filter: invert(19%) sepia(50%) saturate(4131%) hue-rotate(183deg) brightness(100%) contrast(104%);
  }
</style>
