<div class="home">
  <div class="home-title">
    <span class="title-character">f</span>
    <span class="title-character">e</span>
    <span class="title-character">t</span>
    <span class="title-character">t</span>
    <span class="title-character">l</span>
    <span class="title-character">e</span>
  </div>
  <button class="top-right-icon" (click)="goToProfile()">
    <img src="../../../assets/profile.svg" alt="" />
  </button>
  <div class="main-content">
    <app-search> </app-search>
    <app-query> </app-query>
  </div>
</div>

<style>
  .home-title {
    font-size: 3em;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-right-icon {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .main-content {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  app-search {
    width: 40%;
  }
  app-query {
    width: 40%;
  }
  .title-character {
    font-weight: 400;
  }
  .title-character:hover {
    font-weight: 900;
  }
  .top-right-icon:hover img {
    filter: invert(19%) sepia(50%) saturate(4131%) hue-rotate(183deg) brightness(100%) contrast(104%);

  }
</style>
