<form class="query-form">
  <input
    type="search"
    placeholder="Enter comma-separated symptoms"
    name="search"
    [(ngModel)]="query"
    class="search-box"
  />
  <button class="search-button" (click)="search()">
    <img src="../../../assets/search.svg" alt="" />
  </button>
</form>

<div *ngIf="queriedList" class="disease-list">
  <div *ngFor="let disease of queriedList" class="disease-item">
    <a
      [routerLink]="['/disease', disease.cleaned_disease.split(' ').join('_')]"
      routerLinkActive="router-link-active"
      class="link"
    >
      <div>
        <p class="disease-name">
          {{ disease.disease }}
        </p>
        <br />
        <p class="disease-subtitle">
          {{ disease.subtitle }}
        </p>
      </div>
    </a>
  </div>
</div>

<style>
  .query-form {
    display: flex;
    align-items: center;
  }
  .search-button {
    font-size: 1.5em;
    padding: 0;
    margin-left: 10px;
    border: 3px solid white;
    height: 2em;
    background: none;
    cursor: pointer;
  }
  .search-button img {
    margin-top: -2px;
    margin-left: 2px;
  }
  .disease-item {
    border: 2px solid white;
    text-decoration: none;
    margin-bottom: 30px;
    animation-name: defaultback;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  .disease-item:hover {
    animation-name: highlight;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  @keyframes highlight {
    from {
      border: 2px solid white;
    }
    to {
      border: 10px solid white;
    }
  }
  @keyframes defaultback {
    from {
      border: 10px solid white;
    }
    to {
      border: 2px solid white;
    }
  }
  .disease-name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .disease-subtitle {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
  .link {
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  .disease-list {
    margin-top: 20px;
  }
  .search-box {
    font-size: 1.5em;
    background-color: transparent;
    width: 80%;
    height: 2em;
    border: 3px solid white;
  }
</style>
